[Unit]
Description=Forward connection to Sync Proxy over Qubes RPC
ConditionPathExists=/var/run/qubes-service/my-sync

[Socket]
ListenStream=127.0.0.1:8888
BindToDevice=lo
Accept=true

[Install]
WantedBy=multi-user.target
