[Unit]
Description=Forward connection to Sync Proxy over Qubes RPC

[Service]
ExecStart=/usr/bin/qrexec-client-vm sys-firewall my.Sync
StandardInput=socket
StandardOutput=inherit
